body
{
    background-image: url("orange.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Arial;
    color:white;
}
h1{
    text-align: center;
    background-color: black;
    border-radius: 10px;
    height: 60px;
    justify-content:center;
}
ul
{
    margin:0px;
    padding: 0px;
    list-style: none;
    display: block;
}
ul li
{
    float: left;
    background-color: black;
    height: 40px;
    width: 200px;
    opacity: .8;
    line-height: 40px;
    margin-right: 3px;
}
ul li:hover
{
    background-color:green;
}

ul li a
{
text-decoration: none;
color:white;
}
ul li ul li 
{
color:white;
display: none;
}
ul li ul li:hover
{
    background-color:grey;
}

ul li:hover ul li
{
   
    display: block;
}
button
{
    border-radius:60px;
    float:right;
}
input
{
    border-radius:60px;
    float:right;

}
